if BOARD_PETCOLLAR_V2_NRF9151 || BOARD_PETCOLLAR_V2_NRF9151_NS

config BOARD_PETCOLLAR_V2
	select USE_DT_CODE_PARTITION if BOARD_PETCOLLAR_V2_NRF9151_NS

endif # BOARD_PETCOLLAR_V2_NRF9151 || BOARD_PETCOLLAR_V2_NRF9151_NS